/**
* ------------------------------------------------------------------------
* Global Styles
* ------------------------------------------------------------------------
*/

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.l-container {
  max-width: 1200px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0px auto;
}
